@font-face {
    font-family: "Inter";
    src: url(Fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body {
    font-family: "Inter";
    height: 100vh;
    padding-top: 69px;
}
.two{
    width: 100%;
    background-color: #F5F7FA;
    color: black;
}
.two>.container>.row>.col>.two-para{
    font-family:"Inter";
    text-transform: capitalize;
    font-size: 44.55px;
}
.card{
    width: fit-content;
    height:fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
    z-index: 2;
}
.ten>.container>.row>.col>.row>input{
    background: rgb(255, 255, 255,0.1);
    height:40px;
    border-radius: 10px;
    width: 100%;
    border: none;
}
@media all and (max-width : 992px){
    .middle{
        justify-content: center;
    }
}
@media all and (min-width : 992px){
    .middle{
        justify-content: end;
    }
    nav.navbar>div.offcanvas{

    }
}
@media all and (max-width : 772px){
    nav.navbar>div.offcanvas{
        width: 50%;
    }
    body{
        padding-top: 56px;
    }
}
@media all and (max-width : 448px){
    .four>.row>.container>.row>div{
        margin: 10px;
    }
}
@media all and (min-width : 300px) and (max-width : 579px){
    .eight>.row>.col{
        margin: 0px 0px 150px 0px;
    }
}
@media all and (min-width : 579px) and (max-width : 859.5px){
    .eight>.row>.eighty{
        margin: 150px 0px 0px 0px;
    }
}
@media all and (max-width : 403px){
    .ten{
        text-align: center;
    }
    .ten>,.container{
        text-align: center;
    }
    .ten>.container>.row>.col{
        margin-left: 0px;
        margin-right: 0px;
    }
}